body {
    font-family: Lato, "Helvetica Neue", Helvetica, arial, sans-serif;
    margin: 20px;
    padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#avatar {
    width: 200px;
    height: 200px;
    border-radius: 200px 200px 200px 200px;
    float: left;
    margin-right: 30px;
}

.socialMediaButton {
    width: 50px;
}

.section{
    max-width: 500px;
    margin: auto;
}